
div.data {
    text-align: right;
    font-family: Arial, Helvetica, sans-serif;
    font-size: small;
    color: black;
    margin-right: 50px;
}

div.saudacao {
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: small;

}

p {
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-indent: 50px;
    margin-right: 30px;
    margin-left: 30px;
}

body {
    background-color: black;

     
}

div.carta {
    background-image: url(https://images.unsplash.com/photo-1528458965990-428de4b1cb0d?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=670&q=80);
    width: 600px; height: 800px; 
    border: 1px solid white;
    margin-left: 700px;  
    margin-top: 60px;          

}

div.link {
    text-align: right;
    margin-right: 30px;
    margin-top: 60px;
}

pre {
    font-size: large;
}

span {
    text-decoration: underline;
}

a{        
    text-decoration: none;
    background-color: rgb(70, 138, 170);
    color: rgb(231, 199, 199);
    border: 1px solid black;
    border-radius: 10px;
    padding: 5px 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
}

a:hover
{
    background-color:rgb(231, 199, 199);
    color:rgb(70, 138, 170);
}
